.photo-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.photo-card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
}

.comment-list {
    display: flex;
    gap: 20px;
}

.capybara-name {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(70, 56, 17);
}

.add-capybara-link {
    text-decoration: none;
    color: rgb(70, 56, 17);
}

.capybara-button {
    margin-top: 50px;
    background-color: rgb(228, 194, 120);
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 15px;
}